.Button {
  font-size: .9rem;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  transition: all 0.3s ease;
  border: none;
  display: inline-flex;
  gap: var(--space-2x);
  cursor: pointer;
  align-items: center;
  background: none;

  &__icon svg {
    height: 12px;
    width: 12px;
  }

  &--primary {
    padding: var(--space-3x) var(--space-4x);
    background: var(--primary-6);
    border-radius: 20px;

    &:hover{
      background: var(--primary-4);
    }

  }
}