@use '../../tokens/typography';

.MenuPanel {
  background: var(--neutral-3);
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow: hidden;
  transform: translateY(-100%);
  transition: transform .3s ease;
  pointer-events: none;
  z-index: 3;
  display: flex;
  align-items: center;

  &--open {
    transform: translateY(0);
    pointer-events: auto;
  }

  ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-6x);
    padding: 0 var(--space-4x);
  }

  li {
    @include typography.heading2;
  }
}