@use '../../tokens/mixins';
@use '../../tokens/typography';
@use '../../tokens/breakpoints';

.Menu {
  padding: var(--space-4x) var(--space-16x);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  height: 100px;

  @media screen and (max-width: breakpoints.$breakpoint-md) {
    padding: 0 var(--space-4x);
    height: 80px;
  }

  &__name {
    display: flex;
    @include typography.emphasis-3;
    align-items: center;
    color: var(--text-color);

    .Link__icon {
      width: 1.2em;
      animation: rotating 12s linear infinite;

      svg path {
        fill: var(--neutral-1);
      }
    }
  }

  &__navigation {
    display: flex;
    gap: var(--space-8x);
    align-items: center;
    list-style-type: none;

    @media screen and (max-width: breakpoints.$breakpoint-md) {
      display: none;
    }
  }

  &__trigger {
    display: none;
    padding: var(--space-3x);

    @media screen and (max-width: breakpoints.$breakpoint-md) {
      display: block;
    }
  }

}