@use '../../tokens/mixins';
@use '../../tokens/breakpoints';


.Menu {
  @include mixins.centered;
  padding: var(--space-4x) var(--space-16x);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: breakpoints.$breakpoint-md) {
    padding:var(--space-4x);
  }

  .Menu__hi {
    display: flex;
    font-family: var(--font-secondary);
    font-size: 1.33rem;
    line-height: 1rem;
    align-items: center;

    @keyframes rotating {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    img {
      animation: rotating 12s linear infinite;
    }
  }

  &__trigger {
    position: relative;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 5;

    .betty {
      position: fixed;
      transition: opacity .3s ease;
    }
    .standard.hovered {
      opacity: 0;
    }
    .happy:not(.hovered) {
      opacity: 0;
    }
  }

  &__panel {
    background: #F3EDEC;
    height: 100vh;
    width: 100vw;
    inset: 0;
    position: fixed;
    transform: translateY(-100%);
    transition: transform .3s ease;
    pointer-events: none;
    z-index: 2;

    &--open {
      transform: translateY(0);
      pointer-events: auto;
    }

    ol {
      list-style: none;
      padding: 0;
      margin: var(--space-20x) 0 0;
      display: flex;
      flex-direction: column;
      gap: var(--space-4x);
      align-self: center;
      text-align: center;
    }

    li {
      font-size: 3.2rem;
      font-weight: 600;
      font-family: var(--font-secondary);
      text-transform: uppercase;
    }
  }
}