@use '../../tokens/mixins';
@use '../../tokens/typography';
@use '../../tokens/breakpoints';

.Menu {
  padding: var(--space-4x) var(--space-16x);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  height: 100px;

  &__hi {
    display: flex;
    @include typography.emphasis-3;
    align-items: center;
    color: var(--text-color);

    &--alternate {
      color: var(--neutral-3);
    }

    svg path {
      transition: all .3s ease;
    }

    &:hover, &:active {
      svg path {
        fill: var(--accent-2);
      }
    }

    @keyframes rotating {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    svg {
      animation: rotating 12s linear infinite;
    }
  }

  &__navigation {
    display: flex;
    gap: var(--space-8x);
    align-items: center;
    list-style-type: none;

    .Link {
      font-family: var(--font-secondary);
      font-weight: 500;
    }

    @media screen and (max-width: breakpoints.$breakpoint-md) {
      display: none;
    }
  }

  //&__trigger {
  //  position: relative;
  //  width: 48px;
  //  height: 48px;
  //  cursor: pointer;
  //  z-index: 5;
  //
  //  .betty {
  //    position: fixed;
  //    transition: opacity .3s ease;
  //    z-index: -1;
  //  }
  //  .standard{
  //    opacity: 1;
  //    z-index: 1;
  //  }
  //  .happy {
  //    opacity: 0;
  //  }
  //  &--hover, &--open {
  //    .standard{
  //      opacity: 0;
  //    }
  //    .happy {
  //      opacity: 1;
  //      z-index: 1;
  //    }
  //  }
  //}
}