@use '../../tokens/mixins';

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Menu {
  @include mixins.centered;
  padding: 0 var(--space-16x);
  height: var(--space-16x);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .Menu__hi {
    display: flex;
    font-family: var(--font-secondary);
    font-size: 1.33rem;
    line-height: 1rem;
    align-items: center;

    img {
      animation: rotating 12s linear infinite;
    }
  }

  ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: var(--space-8x);
    align-self: center;
  }
}