@use '../../tokens/breakpoints';
@use '../../tokens/typography';

.CaseStudies {
  .CaseStudies__list {

  }

  .CaseStudies__item {
    margin: 0 auto 0 0;
    display: flex;
    width: 66%;
    min-width: 400px;
    flex-direction: column;
    gap: var(--space-4x);

    @media screen and (max-width: breakpoints.$breakpoint-md) {
      grid-template-columns: 1fr;
    }

    .asset {
      overflow: hidden;
      border-radius: 8px;
      aspect-ratio: 1010 / 629;

      >* {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }

    &:nth-child(even) {
      margin: 0 0 0 auto;
    }
  }

  .CaseStudies__item__content__title {
    margin-bottom: var(--space-2x);

    img {
      transform: rotate(-45deg);
      position: relative;
      bottom: 4px;
    }
  }

  .CaseStudies__title {
    @include typography.heading2;
  }

  .CaseStudies__item__date {
    font-family: var(--font-secondary);
    margin-bottom: var(--space-6x);
    text-transform: uppercase;
  }

  .CaseStudies__item__text {
    margin-bottom: var(--space-6x);
  }

}