@use '../../tokens/breakpoints';
@use '../../tokens/typography';

.CaseStudies {
  &__title {
    text-align: center;
    margin-bottom: var(--space-10x);
  }

  &__list {
    .slick-slide {
      .asset {
        transition: all .3s ease 0.2s;
        scale: .8;
        transform-origin: center;
      }
      .description {
        transition: opacity .3s ease 0.5s;
        opacity: 0;
      }

    }
    .slick-current {
      .asset {
        scale: 1;
      }
      .description {
        opacity: 1;
      }
    }

    .slick-arrow {
      height: 48px;
      width: 80px;
      background: #D88374;
      z-index: 1;
      border-radius: 40px;
      top: 200px;
    }

    .slick-dots {
      margin-top: var(--space-20x);
      position: static;
      --size-dot: 8px;
      li{
        width: var(--size-dot);
        height: var(--size-dot);
        transition: all .3s ease;
        button {
          width: var(--size-dot);
          height: var(--size-dot);
          transition: all .3s ease;
          &::before{
            width: var(--size-dot);
            height: var(--size-dot);
            transition: all .3s ease;
            content: '';
            border-radius: 4px;
            background: #5A726F;
            margin: 0;
          }
        }
      }
      .slick-active {
        width: 40px;
        button {
          width: 40px;
          &::before{
            width: 40px;
            background: #222B2A;
          }
        }
      }
    }
  }

  &__item{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .asset {
      flex: 1;
      overflow: hidden;
      border-radius: 8px;
      aspect-ratio: 1010 / 629;

      >* {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }

    .description {
      text-align: center;
    }

    .title {
      font-family: var(--font-secondary);
      margin: var(--space-6x) 0;
    }
  }

}