@use '../../tokens/breakpoints';
@use '../../tokens/typography';

.CaseStudies {
  &__title {
    text-align: center;
    margin-bottom: var(--space-10x);
  }

  &__list--vertical {
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(600px, 1fr));
    gap: var(--space-6x);

    @media screen and (max-width: breakpoints.$breakpoint-md) {
      grid-template-columns: 1fr;
      gap: var(--space-10x);
      padding-left: var(--space-4x);
      padding-right: var(--space-4x);
    }
  }
}