@use '../../tokens/typography';

.CaseStudiesItem{
  cursor: pointer;

  .title {
    transition: all .3s ease;
  }

  &:hover {
    .title {
      font-weight: 600;
    }
  }

  .asset {
    flex: 1;
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 1010 / 629;

    >* {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  &__link {
    &:hover {color:black}
  }

  .description {
    display: flex;
    flex-direction: column;
    margin: var(--space-4x) 0;
  }
}