@use '../../tokens/typography';

.CaseStudiesItem {
  cursor: pointer;

  .title {
    transition: all .3s ease;
  }

  &:hover {
    .title {
      font-weight: 600;
    }
  }

  &__asset {
    flex: 1;
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 1010 / 629;

    >* {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  &__link {
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin: var(--space-4x) 0;

    h5 {
      transition: color .3s ease;
      color: var(--neutral-1);
    }

    .subtitle {
      color: var(--neutral-1);
    }
  }

  &:hover {
    .CaseStudiesItem__description h5 {
      color: var(--accent-3);
    }
  }

  &:active {
    .CaseStudiesItem__description h5 {
      color: var(--neutral-1);
    }
  }
}