.GetToKnowMe {
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../assets/AboutBanner.png") no-repeat center center;
  background-size: cover;


  &__centered {
    text-align: center;

    .RichText p {
      color: #384746;
    }
  }

  &__link {
    display: block;
    margin-top: var(--space-6x);
  }
}