@use "../../tokens/typography";
@use "../../tokens/breakpoints";

.RichText {
  h1 {
    @include typography.heading1;
  }

  h2 {
    @include typography.heading2;
    margin-bottom: var(--space-6x);
  }

  h3 {
    @include typography.heading3;
    margin-bottom: var(--space-6x);
  }

  h4 {
    @include typography.heading4;
  }

  a {
    @include typography.link;
  }

  p {
    @include typography.p;
  }

  strong {
    @include typography.strong;
  }

  img, video {
    width: 100%;
  }

  figure {
    figcaption {
      @include typography.body-3;
      text-align: center;
    }
  }

  blockquote {
    display: block;
    width: 100%;
    font-size: 1.77rem;
    font-style: italic;
    margin: 0;

    p {
      line-height: normal;
      font-weight: 300;
    }
  }

  ul {
    position: relative;
    left: var(--space-6x);

    p{margin-bottom: 0}
  }
}
