@use "../../tokens/typography";

.RichText {
  h1 {
    @include typography.heading1;
  }

  h2 {
    @include typography.heading2;
    margin-bottom: var(--space-6x);
  }

  h3 {
    @include typography.heading3;
    margin-bottom: var(--space-6x);
  }

  h4 {
    @include typography.heading4;
  }

  a {
    @include typography.link;
  }

  p {
    font-family: var(--font-primary);
    line-height: 1.5rem;
  }

  em {
    @include typography.em;
  }

  strong {
    @include typography.strong;
  }

  img {
    width: 100%;
  }

  &__figure {
    width: 70%;
    margin: auto;

    figcaption {
      @include typography.em;
    }
  }

  blockquote {
    font-size: 1.77rem;
    font-style: italic;
    margin: 0;

    p {
      line-height: normal;
      font-weight: normal;
    }
  }

  ul {
    position: relative;
    left: var(--space-6x);

    p{margin-bottom: 0}
  }
}
