@use '../../tokens/breakpoints';
@use '../../tokens/typography';


.SkillItem {
  display: flex;
  flex-direction: column;
  padding: var(--space-6x);
  min-height: 269px;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: var(--space-4x);
    border: 1.5px solid var(--accent-5);
    transition: all var(--longAnimation) ease;
  }

  &__img {
    width: 64px;
    height: 64px;
    margin-bottom: auto;
  }

  &__description {
    margin-top: var(--space-2x);
    @include typography.body-3;
  }

  &:hover {
    &::after {
      transform: rotate(-4deg);
    }
  }
}