@use './../tokens/breakpoints';
@use './../tokens/animations';
@use './../tokens/mixins';

.About {
  display: flex;
  gap: var(--space-8x);
  flex-direction: column;

  &__image {
    align-self: center;
    width: 156px;
    border-radius: 78px;
  }
}