.About {
  position: relative;

  .About__wrapper {
    &__portrait {
      background: var(--primary-2);


      img {
        width: 196px;
        height: 264px;
        object-fit: cover;
        border-radius: 98px;
      }
    }

    &__text {
      background: url("../assets/AboutShape.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding: 94px 200px  50px 160px;
    }
  }



  .About__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-16x);

    h2 {
      margin-bottom: var(--space-8x);
    }
  }

}