.About {
  position: relative;

  .About__wrapper {
    display: grid;
    grid-gap: var(--space-6x);
    grid-template-columns: 5fr 7fr;
    padding-bottom: var(--space-16x);
  }

  .About__wrapper__portrait {
    width: 100%;
    position: sticky;
    top: 96px;
    align-self: start;

    img {
      width: 100%;
    }
  }

  .About__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-16x);

    h2 {
      margin-bottom: var(--space-8x);
    }
  }

}