@use './../tokens/breakpoints';
@use './../tokens/animations';
@use './../tokens/mixins';

.About {
  display: flex;
  gap: var(--space-10x);
  flex-direction: column;
  align-items: center;

  &__image {
    width: 156px;
    border-radius: 78px;
  }
}