.CaseStudy {

  .CaseStudy__wrapper {
    padding: var(--space-16x) var(--space-8x);
    width: 100%;
    max-width: var(--max-width);
  }

  .CaseStudy__info__item__label {
    font-family: var(--font-secondary);
    font-weight: 600;
  }
}