@use "../tokens/breakpoints";

.CaseStudy {
  --paddingCaseStudy: var(--space-48x);
  background: var(--primary-8);

  @media screen and (max-width: breakpoints.$breakpoint-md) {
    --paddingCaseStudy: var(--space-6x);
  }

  &__section {
    padding-bottom: var(--space-8x);
  }

  &__quote {
    border-radius: 8px;
    background: #FED584;
    margin-top: var(--space-4x);
    padding: var(--space-4x) var(--space-6x);
  }

  &__info__item__label {
    font-family: var(--font-secondary);
    font-weight: 600;
  }

  &__completeText {
    display: flex;
    flex-direction: column;
    gap: var(--space-8x);
    line-height: 32px;
    > *:not(img) {
      padding: 0 var(--paddingCaseStudy);
    }
  }
}