@use "../tokens/breakpoints";
@use "../tokens/typography";
@use "../tokens/mixins";
@use "../tokens/animations";

.CaseStudy {
  z-index: 2;
  position: relative;

  &__header  {
    padding-bottom: var(--space-10x);
  }

  &__title {
    @include typography.heading1;
    margin-bottom: var(--space-2x);
  }

  &__subtitle {
    @include typography.body-1;
    margin-bottom: var(--space-8x);
  }

  &__wrapper {
    border-top: 1px solid var(--neutral-3);
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: var(--space-10x);
    padding-bottom: var(--space-10x);
    grid-gap: var(--space-8x);

    @media screen and (max-width: breakpoints.$breakpoint-md) {
      display: block;
      padding-top: var(--space-8x);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: var(--space-2x);

    &__item {
      @include typography.body-4;

      &__label {
        font-weight: bold;
      }
    }
  }

  &__overview {
    @media screen and (max-width: breakpoints.$breakpoint-md) {
      margin-top: var(--space-8x);
      border-top: 1px solid var(--primary-2);
      padding-top: var(--space-8x);
    }

    &__text p{
      font-weight: 300;
    }
  }

  &__quote {
    border-radius: 8px;
    background: var(--accent-2);
    padding: var(--space-8x) var(--space-8x);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-2x);
    @include typography.body-4;

    &__wrapper {
      display: flex;
      gap: var(--space-2x);
      align-items: center;
    }

    &__warning {
      width: 16px;
      height: 16px;
    }

    &__title {
      color: var(--neutral-2);
      @include typography.body-4;
    }

    &__text {
      flex: 1;
      p {
        @include typography.body-4;
        color: var(--primary-8);
        margin-bottom: 0;
      }
    }
  }

  &__completeText {
    display: flex;
    flex-direction: column;
    gap: var(--space-2x);
    padding-bottom: var(--space-32x);

    > *:not(figure)  {
      width: 100%;
    }

    img,video {
      border-radius: 8px;
    }

    h2 {
      @include typography.heading4;
    }

    > p {
      margin-bottom: var(--space-6x);
    }

    blockquote {
      border: 1px solid var(--accent-4);
      border-radius: 8px;
      text-align: center;
      padding: var(--space-10x);

      p {
        line-height: 1.5;
      }

      &::before{
        content: "";
        background: url("../assets/Union.svg") no-repeat center;
        width: 56px;
        height: 56px;
        display: block;
        margin: auto;
      }
    }
  }
}