
.Homepage {
  display: flex;
  flex-direction: column;
  gap: var(--space-16x);
  padding-top: var(--space-8x);

  .Homepage__top {
    display: grid;
    grid-template-columns: 8fr 4fr;
  }

  .Homepage__info {
    display: flex;
    flex-wrap: wrap;
  }
}