@use "../tokens/breakpoints";
@use "../tokens/mixins";

.Homepage {
  position: relative;

  &__top {
    display: flex;
    align-items: center;
    background: url("../assets/Gradient v1.svg");
    background-size:  cover;
  }

  &__headline {
    max-width: var(--max-width-small);
  }


  &__Section {
    background: var(--neutral-2);
    padding-top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-bottom: 80px;
  }

  &__Skills {
    margin-top: 80px;
  }

  &__About, &__Experiences {
    max-width: var(--max-width-small);
  }
}