@use '../tokens/breakpoints';

.Homepage {
  padding: var(--space-16x);

  @media screen and (max-width: breakpoints.$breakpoint-sm) {
    padding: var(--space-32x) var(--space-8x) var(--space-8x);
  }


  .Homepage__top {
    display: flex;
    margin-bottom: var(--space-16x);
  }

  .Homepage__hi {
    margin-bottom: var(--space-8x);
    font-weight: normal;
  }

  .about {
    max-width: 700px;
  }


  .Homepage__contact {
    margin-top: var(--space-20x);

    .Homepage__contact__links {
      display: flex;
      gap: var(--space-8x);
      margin-top: var(--space-4x);
    }
  }
}