@use './../tokens/breakpoints';
@use './../tokens/mixins';
@use './../tokens/colors';

.Section{
  position: relative;

  &--fullHeight {
    min-height: 100vh;
  }


  &--noPadding {
    padding: 0;
  }

  &--withPadding {
    padding: 120px var(--space-16x) 120px var(--space-16x);

    @media screen and (max-width: breakpoints.$breakpoint-md) {
      padding: 80px var(--space-4x) 80px;
    }
  }

  &--sticky {
    position: sticky;
    top: 0;
  }

  &--centered {
    &>* {
      @include mixins.centered;
      padding: 0 var(--space-16x) 0 var(--space-16x);
    }
  }
}