@use "../../tokens/mixins";

.Contact {
  .Contact__wrapper {
    @include mixins.centered;
    padding: var(--space-16x) var(--space-16x) var(--space-16x);
    display: grid;
    grid-template-columns: 1fr auto;

  }

  .Contact__links {
    display: flex;
    gap: var(--space-8x);
    margin-top: var(--space-4x);

    .Link {
      color: #FFFFFF;
    }
  }
}