@use "../../tokens/mixins";
@use "../../tokens/breakpoints";
@use "../../tokens/typography";


.Contact {
  &__wrapper {
    @include mixins.centered;
    text-align: center;
  }

  &__links {
    display: inline-flex;
    gap: var(--space-4x);
    margin-top: var(--space-4x);
    height: fit-content;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (max-width: breakpoints.$breakpoint-md) {
    }
  }

  &__text {
    color: var(--primary-6);
    line-height: 1.5;
  }

  &__credits {
    color: var(--primary-6);
    margin-top: var(--space-10x);
    font-family: var(--font-secondary);
  }

}