.SkillList {
  display: flex;
  gap: var(--space-2x);

  .SkillList__item {
    font-family: var(--font-seconday);
    font-size: 0.66rem;
    border-radius: 20px;
    line-height: 0.9rem;
    border: 1px solid #000000;
    padding: var(--space-2x) var(--space-3x);
    text-transform: uppercase;
  }

}