@use "../../tokens/mixins";
@use "../../tokens/breakpoints";
@use "../../tokens/typography";


.Footer {
  padding:  var(--space-10x) var(--space-16x);
  display: flex;
  justify-content: space-between;

  &__links {
    display: flex;
    gap: var(--space-6x);
  }

  &__credits {
    @include typography.emphasis-5;
    color: var(--neutral-6);
    text-align: right;
    p {
      line-height: 1.25;
    }

  }

  @media screen and (max-width: breakpoints.$breakpoint-md) {
    padding: var(--space-10x) var(--space-4x);
    flex-direction: column;

    .Footer__links {
      flex-direction: column;
      padding-bottom: var(--space-8x);
      margin-bottom: var(--space-8x);
      border-bottom: 1px solid var(--neutral-4);
    }

    .Footer__credits {
      text-align: left;
    }
  }
}