@use '../../tokens/breakpoints';
@use '../../tokens/typography';


.ExperienceItem {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: var(--space-8x);

  &__info {
    display: flex;
    flex-direction: column;
    gap: var(--space-2x);
  }

  .ExperienceItem__date {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--primary-2);
  }
}