@use '../../tokens/breakpoints';
@use '../../tokens/typography';


.ExperienceItem {
  &--disabled {
    visibility: hidden;
  }

  &__mainLine {
    width: 100%;
    display: grid;
    grid-gap: var(--space-4x);
    grid-template-columns: 200px 1fr 1fr auto;
    padding: var(--space-6x) var(--space-4x);
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      color: var(--text-color);
      font-weight: bold;
    }

    @media screen and (max-width: breakpoints.$breakpoint-md) {
      grid-template-columns: 1fr auto;
      grid-gap: var(--space-2x) var(--space-4x);
      & > *:nth-child(1) {
        order: 0;
      }
      & > *:nth-child(1) {
        order: 2;
        grid-column: 1 / 2;
      }
      & > *:nth-child(1) {
        order: 3;
        grid-column: 1 / 2;
      }
      & > *:nth-child(3) {
        order: 1;
      }
    }

    .ExperienceItem__mainLine__date, .ExperienceItem__mainLine__link, .ExperienceItem__mainLine__position {
      @include typography.emphasis-3;
    }
  }

  &__content {
    width: 100%;
    display: grid;
    grid-gap: var(--space-4x);
    grid-template-columns: 200px 1fr 1fr auto;
    padding: 0 var(--space-4x) var(--space-6x);

    @media screen and (max-width: breakpoints.$breakpoint-md) {
      display: block;
    }
  }

  &__text {
    grid-column: 2 / -1;
    line-height: 1.6;
  }
}