@use '../../tokens/breakpoints';
@use '../../tokens/typography';


.ExperienceItem {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: var(--space-8x);

  &__client {
    color: var(--accent-4);
  }

  &__position.Text, &__date.Text {
    @include typography.emphasis-4;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: var(--space-2x);
  }
}