:root {
  --shortAnimation: .3s;
  --longAnimation: .7s;
}

@mixin opacityAnimation($animationDuration: var(--shortAnimation), $animationDelay: 0) {
  animation: opacityEffect;
  animation-fill-mode: both;
  animation-duration: $animationDuration;
  animation-delay: $animationDelay;
}

@mixin blockReveal($animationDuration: var(--longAnimation), $animationDelay: 0) {
  animation: blockReveal;
  animation-fill-mode: both;
  animation-duration: $animationDuration;
  animation-delay: $animationDelay;
}