:root {
  --neutral-1: #000000;
  --neutral-2: #FFFFFF;
  --neutral-3: #F3EDEC;
  --neutral-4: #B0B0B0;
  --neutral-5: #8A8A8A;
  --neutral-6: #464646;
  --accent-1: #300A03;
  --accent-2: #562720;
  --accent-3: #813C32;
  --accent-4: #9D5E4E;
  --accent-5: #C9AA9C;
  --accent-6: #F5F1EF;
  --primary-1: #222B2A;
  --primary-2: #384746;
  --primary-4: #5A726F;
  --primary-6: #9BB0AE;
  --primary-7: #B8C7C5;
  --primary-8: #D4DDDC;
  --text-color: #000000;
  --background-color: var(--neutral-2);
  --border-subtle: #536765;

}

