:root {
  --text-color: #000000;
  --background-color: #F3EDEC;
  --accent-4: #D88374;
  --accent-2: #B34632;
  --primary-1: #222B2A;
  --primary-2: #384746;
  --primary-4: #5A726F;
  --primary-6: #9BB0AE;
  --primary-7: #B8C7C5;
}

