@keyframes opacityEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blockReveal {
  from {
    transform: translate(0, 20vh);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes widthFromLeft {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}