@use 'breakpoints';

@mixin centered {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

@mixin layout-middle {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--space-16x);

  @media screen and (max-width: breakpoints.$breakpoint-md) {
    padding-left: var(--space-4x);
    padding-right: var(--space-4x);
  }
}