:root {
  --space-base: 4px;
  --space-1x: var(--space-base);
  --space-2x: calc(var(--space-base) * 2);
  --space-3x: calc(var(--space-base) * 3);
  --space-4x: calc(var(--space-base) * 4);
  --space-6x: calc(var(--space-base) * 6); // 24px
  --space-8x: calc(var(--space-base) * 8); // 32px
  --space-10x: calc(var(--space-base) * 10); // 40px
  --space-16x: calc(var(--space-base) * 16);
  --space-20x: calc(var(--space-base) * 20);
  --space-32x: calc(var(--space-base) * 32);
  --space-48x: calc(var(--space-base) * 48);
  --space-64x: calc(var(--space-base) * 64);
  --max-width: 984px;
  --max-width-small: 740px;
}