@use 'breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-primary: "Roboto Condensed", sans-serif;
  --font-secondary: "Bricolage Grotesque", sans-serif;
}

@mixin heading {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin heading1 {
  @include heading;
  font-family: var(--font-secondary);
  font-size: 2.8rem;
  line-height: 1.15;
  margin-bottom: var(--space-2x);
  font-weight: 600;
}


@mixin heading2 {
  @include heading;
  font-family: var(--font-secondary);
  font-size: 2.4rem;
  line-height: 1.15;
  font-weight: 600;
  color: var(--primary-1);
}

@mixin heading3 {
  @include heading;
  font-family: var(--font-secondary);
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}

@mixin heading4 {
  @include heading;
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.25;
}

@mixin heading5 {
  @include heading;
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  line-height: 1.25;
  font-weight: 600;
}


@mixin strong {
  font-weight: bold;
}


@mixin p {
  margin: 0;
  font-family: var(--font-primary);
  line-height: 1.5rem;
}

@mixin body-1 {
  font-size: 1.2rem;
  line-height: 1.33;
  font-weight: 300;
}

@mixin body-2 {
  font-family: var(--font-primary);
  font-size: 1rem;
}

@mixin body-3 {
  color: var(--neutral-5);
  font-family: var(--font-primary);
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.33rem;
}

@mixin body-4 {
  font-family: var(--font-primary);
  font-size: .8rem;
  line-height: 1.5;
}

@mixin emphasis-3 {
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
}

@mixin emphasis-4 {
  font-family: var(--font-primary);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.3;
}

@mixin emphasis-5 {
  font-family: var(--font-secondary);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.2;
}

@mixin link($color:var(--text-color), $colorHover: var(--accent-3))  {
  color: $color;
  font-size: 1em;
  position: relative;
  display: inline;
  transition: color .3s ease;

  &:hover, &::selection {
    color: $colorHover;
  }
}
