@use 'breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-primary: "Tinos", serif;
  --font-secondary: "Roboto Condensed", sans-serif;
}

@mixin heading {
  margin: 0;
}

@mixin heading1 {
  @include heading;
  font-family: var(--font-primary);
  font-size: 3.3rem;
  line-height: 1;
  margin-bottom: var(--space-2x);
  font-weight: 400;

  @media screen and (max-width: breakpoints.$breakpoint-sm) {
    font-size: 2.5rem;
  }
}

h1 {
  @include heading1;
}

@mixin heading2 {
  @include heading;
  font-family: var(--font-secondary);
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  @include heading2;
}

@mixin heading3 {
  @include heading;
  font-family: var(--font-primary);
  font-size: 1.77rem;
  font-weight: 400;
  line-height: 1em;
}

h3 {
  @include heading3;
}

@mixin heading4 {
  @include heading;
  font-family: var(--font-secondary);
  font-size: 1rem;
  line-height: 0.8;
}

h4 {
  @include heading4;
}

@mixin em {
  font-size: 0.7rem;
}

@mixin strong {
  font-weight: bold;
}

strong {
  @include strong;
}

@mixin p {
  margin: 0;
}

p {
  @include p;
}

b {
  font-weight: 600;
}

@mixin link($color:var(--text-color), $colorHover: var(--accent-2))  {
  font-family: var(--font-secondary);
  text-decoration: none;
  color: $color;
  font-size: 1em;
  position: relative;
  display: inline;
  transition: color .3s ease;

  &:hover, &::selection {
    color: $colorHover;
  }

}
