@use './tokens/breakpoints';
@use './tokens/mixins';

.App {
  min-width: 425px;
  background: var(--background-color);

  .App__container .Section{
    @include mixins.centered;
    padding: var(--space-10x) var(--space-16x) var(--space-16x) var(--space-16x);
    position: relative;
    @media screen and (max-width: breakpoints.$breakpoint-md) {
      padding: var(--space-8x) var(--space-4x) var(--space-8x);
    }
  }

  .App__contact {
    background: #222B2A;
    color: #FFFFFF;
  }
}