@use './tokens/breakpoints';
@use './tokens/mixins';
@use './tokens/colors';

.App {
  min-width: 425px;
  background: var(--background-color);
  width: 100%;

  &__contact {
    background: var(--accent-6);
  }
}