@use './tokens/breakpoints';
@use './tokens/mixins';
@use './tokens/colors';

.App {
  min-width: 425px;
  background: var(--background-color);
  width: 100%;

  &__contact {
    background: var(--primary-1);
    color: #FFFFFF;
    position: sticky;
    bottom: 0;
    z-index: 0;
  }
}