@use './tokens/typography';
@use "./tokens/keyframes";

:root {
  font-size: 20px;

  body{
    padding: 0;
    margin: 0;
    line-height: 1.33;
    font-weight: 400;

    font-family: var(--font-primary);

    color-scheme: light dark;
    color: var(--text-color);
    font-synthesis: none;
    text-rendering: optimizeLegibility;

    overflow: hidden auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.hidden {
      overflow: hidden clip;
    }
  }
}

* {
  box-sizing: border-box;
}

h1 {
  @include typography.heading1;
}

h2 {
  @include typography.heading2;
}

h3 {
  @include typography.heading3;
}

h4 {
  @include typography.heading4;
}

h5 {
  @include typography.heading5;
}

strong {
  @include typography.strong;
}

p {
  @include typography.p;
}

b {
  font-weight: 600;
}
