@use "../../tokens/typography";


.Link {
  @include typography.link;
  width: fit-content;
  display: inline-flex;
  position: relative;
  gap: var(--space-2x);
  cursor: pointer;
  align-items: center;

  .Link__icon {
    display: flex;
    align-items: center;
    width: 0.8em;
    height: 0;
  }

  .Link__icon svg, .Link__icon path {
    transition: all 0.3s ease;
  }

  &:hover {
    .Link__icon svg, .Link__icon path {
      fill: var(--accent-2);
    }
  }

  &--button {
    text-decoration: none;
  }

  &--reverseIcon {
    flex-direction: row-reverse;
  }


  &--animated {
    .Link__children {
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: var(--accent-2);
        position: absolute;
        bottom: 0;
      }

      &:hover {
        &::after {
          animation: 'widthFromLeft';
          animation-duration: 0.5s;
          animation-fill-mode: forwards;
        }
      }
    }

  }
}
